.bg-video {
    position: absolute ;
    top: 0 ;
    left: 0 ;
    height: 100%;
    width: 100% ;
    z-index: -1;  // koji element ide dole
    opacity: .15;
    overflow: hidden; // za preklapanje elemenata

    &__content {
        height: 100%;
        width: 100% ;
        object-fit: cover ; // ~~  background-size   samo za video materijal
    }
}