.u-center-text {
    text-align: center;
}

.u-bottom-margin-8 {   //big
margin-bottom: 8rem !important;

@include respond (tab-port){
    margin-bottom: 5rem !important;
}

}

.u-bottom-margin-4 {  //medium
 margin-bottom: 4rem;
 @include respond (tab-port){
    margin-bottom: 3rem !important;
}
}

.u-bottom-margin-1-5 {    // small
    margin-bottom: 1.5rem !important;
}

.u-margin-top-big {
     margin-top: 8rem ;
}

.u-margin-top-huge {
    margin-top: 10rem ;
}